gradle.properties
local.properties
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea/modules.xml
/.idea/misc.xml
/.idea/vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.navigation/
captures/
output.json
*.hprof
.idea/
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
*.log
*.nav
*.orig
*.rej
*.swp
*.bak
*.tmp
*~
.*.swp
.gradle/
build/
!gradle-wrapper.jar
.gradletasknamecache
